asgiref==3.8.1
autopep8==2.1.0
Babel==2.14.0
dj-database-url==2.1.0
Django==5.0.6
django-bmemcached==0.3.0
django-heroku==0.3.1
greenlet==3.0.3
gunicorn==22.0.0
mssql-django==1.5
numpy==1.26.4
packaging==23.2
pandas==2.2.0
pillow==10.2.0
psycopg2==2.9.9
pycodestyle==2.11.1
pyodbc==5.1.0
python-binary-memcached==0.31.2
python-dateutil==2.8.2
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.30
sqlparse==0.4.4
style==1.1.6
toml==0.10.2
tomli==2.0.1
typing_extensions==4.9.0
tzdata==2024.1
uhashring==2.3
whitenoise==6.6.0
