asgiref==3.5.2
autopep8==1.7.0
Babel==2.10.3
dj-database-url==1.0.0
Django==4.0.7
django-bmemcached==0.3.0
django-heroku==0.3.1
greenlet==1.1.3
gunicorn==20.1.0
mssql-django==1.1.3
numpy==1.23.3
pandas==1.4.4
Pillow==9.2.0
psycopg2==2.9.3
pycodestyle==2.9.1
pyodbc==4.0.34
python-binary-memcached==0.31.1
python-dateutil==2.8.2
pytz==2022.2.1
six==1.16.0
SQLAlchemy==1.4.41
sqlparse==0.4.2
style==1.1.6
toml==0.10.2
uhashring==2.1
whitenoise==6.2.0
