asgiref==3.9.1
autopep8==2.1.0
babel==2.16.0
dj-database-url==3.0.1
Django==5.2.5
django-cors-headers==4.7.0
greenlet==3.2.4
gunicorn==23.0.0
mssql-django==1.6
numpy==2.2.1
packaging==23.2
pandas==2.2.3
pillow==11.3.0
psycopg2==2.9.10
pycodestyle==2.11.1
pyodbc==5.2.0
python-dateutil==2.9.0.post0
pytz==2025.2
redis==6.4.0
six==1.17.0
SQLAlchemy==2.0.43
sqlparse==0.5.3
style==1.1.6
toml==0.10.2
tomli==2.2.1
typing_extensions==4.12.2
tzdata==2024.2
uhashring==2.4
whitenoise==6.9.0
