{% extends "base.html" %}
{% load static %}

{% block title %}Sif - Afrekaskrá FRÍ{% endblock %}

{% block content %}
<div class="card mt-4">
  <div class="card-body">
    <h5 class="card-title">Velkominn til Sifjar</h5>
    <p>Sif heldur utan um afrekaskrá <a href="http://www.fri.is">Frjálsíþrótta sambands Íslands</a> (FRÍ) og er eiginkona <a href="http://thor.fri.is">Þórs</a> móta forrits FRÍ.
      Þór var skapaður af <a href="/keppandi/2487">Friðrik Þór</a> til að safna saman gögnum um íslenska keppendur í frjálsum íþróttum. Sif fær öll gögnin sín frá Þór og vinnur úr þeim.
      Jötnarnir <a href="/keppandi/17364">Kristinn</a>, <a href="/keppandi/20844">Bergur</a> og <a href="/keppandi/76227">Þorsteinn</a> kenndu Sif að vinna
      úr gögnunum frá Þór.</p>
  </div>
</div>
<!---->
<div class="card mt-4">
  <div class="card-header">
    Finna íþróttamann
  </div>
  <div class="card-body">
    <p class="card-text">Byrjaðu að slá inn nafn íþróttamanns og Sif hjálpar þér að finna hana eða hann.</p>
    <form>
      <div class="form-group">
        <label for="inputName">Nafn:</label>
        <input type="email" class="form-control" id="nameInput" aria-describedby="nameMore" placeholder="Sláðu inn nafn, t.d. Kristinn Torfa FH">
      </div>
    </form>
  </div>
</div>
<!---->
<div class="card mt-4">
  <div class="card-header">
    Top listar
  </div>
  <div class="card-body">
    <p class="card-text">Veldu grein hér að neðan og Sif sýnir þér 100 bestu afrek hvers árs eða frá upphafi.</p>
  </div>
</div>
{% verbatim %}
{{ message }}
{% endverbatim %}
{% endblock %}

{% block scripts %}
{% verbatim %}
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    })
  </script>
{% endverbatim %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}