{% extends "base.html" %}
{% load static %}

{% block title %}Top listar - Afrekaskrá FRÍ{% endblock %}
{% block content %}
{% verbatim %}
<div class="card ">
  <div class="card-header">
    <div class="row mb-4">
      <div class="col">
        <ul class="nav nav-pills nav-fill card-header-tabs pull-right" id="myTab" role="tablist">
          <!-- https://codepen.io/surjithctly/pen/PJqKzQ -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              {{eventText}}
            </a>
            <ul v-on:click="event_change($event)" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Stökkgreinar</a>
                <ul class="dropdown-menu">
                  <li><a v-bind:class="{active: (event_id===124)}" class="dropdown-item" id="124">Hástökk</a></li>
                  <li><a v-bind:class="{active: (event_id===125)}" class="dropdown-item" id="125">Hástökk án atr.</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===154)}" class="dropdown-item" id="154">Langstökk</a></li>
                  <li><a v-bind:class="{active: (event_id===155)}" class="dropdown-item" id="155">Langstökk án atr.</a></li>
                  <li><a v-bind:class="{active: (event_id===197)}" class="dropdown-item" id="197">Stangarstökk</a></li>
                  <li><a v-bind:class="{active: (event_id===204)}" class="dropdown-item" id="204">Þrístökk</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Kastgreinar</a>
                <ul class="dropdown-menu">
                  <li><a v-bind:class="{active: (event_id===129)}" class="dropdown-item" id="129">Kringlukast (2,0 kg)</a></li>
                  <li><a v-bind:class="{active: (event_id===130)}" class="dropdown-item" id="130">Kringlukast (1,5 kg)</a></li>
                  <li><a v-bind:class="{active: (event_id===131)}" class="dropdown-item" id="131">Kringlukast (1,0 kg)</a></li>
                  <li><a v-bind:class="{active: (event_id===135)}" class="dropdown-item" id="135">Kringlukast (1,75 kg)</a></li>
                  <li><a v-bind:class="{active: (event_id===138)}" class="dropdown-item" id="138">Kúluvarp (7,26 kg)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===139)}" class="dropdown-item" id="139">Kúluvarp (6,00 kg)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===140)}" class="dropdown-item" id="140">Kúluvarp (5,0 kg)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===142)}" class="dropdown-item" id="142">Kúluvarp (4,0 kg)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===143)}" class="dropdown-item" id="143">Kúluvarp (2,0 kg)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===144)}" class="dropdown-item" id="144">Kúluvarp (3,0 kg)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===176)}" class="dropdown-item" id="176">Sleggjukast (7,26 kg)</a></li>
                  <li><a v-bind:class="{active: (event_id===177)}" class="dropdown-item" id="177">Sleggjukast (4,0 kg)</a></li>
                  <li><a v-bind:class="{active: (event_id===178)}" class="dropdown-item" id="178">Sleggjukast (2,0 kg)</a></li>
                  <li><a v-bind:class="{active: (event_id===179)}" class="dropdown-item" id="179">Sleggjukast (3,0 kg)</a></li>
                  <li><a v-bind:class="{active: (event_id===181)}" class="dropdown-item" id="181">Sleggjukast (5,0 kg)</a></li>
                  <li><a v-bind:class="{active: (event_id===183)}" class="dropdown-item" id="183">Sleggjukast (6,0 kg)</a></li>
                  <li><a v-bind:class="{active: (event_id===187)}" class="dropdown-item" id="187">Spjótkast (800 gr)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===189)}" class="dropdown-item" id="189">Spjótkast (600 gr)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===190)}" class="dropdown-item" id="190">Spjótkast (400 gr)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===191)}" class="dropdown-item" id="191">Spjótkast (500 gr)</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Spretthlaup</a>
                <ul class="dropdown-menu">
                  <li><a v-bind:class="{active: (event_id===5)}" class="dropdown-item" id="5">1000 m boðhlaup</a></li>
                  <li><a v-bind:class="{active: (event_id===6)}" class="dropdown-item" id="6">100 m hlaup</a></li>
                  <li><a v-bind:class="{active: (event_id===25)}" class="dropdown-item" id="25">200 m hlaup</a></li>
                  <li><a v-bind:class="{active: (event_id===31)}" class="dropdown-item" id="31">300 m hlaup</a></li>
                  <li><a v-bind:class="{active: (event_id===44)}" class="dropdown-item" id="44">400 m hlaup</a></li>
                  <li><a v-bind:class="{active: (event_id===50)}" class="dropdown-item" id="50">4x100 m boðhlaup</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===52)}" class="dropdown-item" id="52">4x200 m boðhlaup</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===54)}" class="dropdown-item" id="54">4x400 m boðhlaup</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===74)}" class="dropdown-item" id="74">60 m hlaup</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Grindarhlaup</a>
                <ul class="dropdown-menu">
                  <li><a v-bind:class="{active: (event_id===7)}" class="dropdown-item" id="7">100 m gr. (84 cm)</a></li>
                  <li><a v-bind:class="{active: (event_id===8)}" class="dropdown-item" id="8">100 m gr. (76,2 cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===11)}" class="dropdown-item" id="11">100 m gr. (91,4 cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===15)}" class="dropdown-item" id="15">110 m gr. (106,7 cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===16)}" class="dropdown-item" id="16">110 m gr. (91,4 cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===17)}" class="dropdown-item" id="17">110 m gr. (99,1 cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===45)}" class="dropdown-item" id="45">400 m gr. (91,4 cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===46)}" class="dropdown-item" id="46">400 m gr. (84 cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===47)}" class="dropdown-item" id="47">400 m gr. (76,2 cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===75)}" class="dropdown-item" id="75">60 m gr. (106,7cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===77)}" class="dropdown-item" id="77">60 m gr. (91,4 cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===78)}" class="dropdown-item" id="78">60 m gr. (99,1 cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===80)}" class="dropdown-item" id="80">60 m gr. (76,2 cm)</a>
                  </li>
                  <li><a v-bind:class="{active: (event_id===82)}" class="dropdown-item" id="82">60 m gr. (84,0 cm)</a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Millivegalengdir</a>
                <ul class="dropdown-menu">
                  <li><a v-bind:class="{active: (event_id===18)}" class="dropdown-item" id="18">1500 m hlaup</a></li>
                  <li><a v-bind:class="{active: (event_id===28)}" class="dropdown-item" id="28">3000 m hlaup</a></li>
                  <li><a v-bind:class="{active: (event_id===30)}" class="dropdown-item" id="30">3000 m hindrun</a></li>
                  <li><a v-bind:class="{active: (event_id===73)}" class="dropdown-item" id="73">600 m hlaup</a></li>
                  <li><a v-bind:class="{active: (event_id===86)}" class="dropdown-item" id="86">800 m hlaup</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Langhlaup</a>
                <ul class="dropdown-menu">
                  <li><a v-bind:class="{active: (event_id===3)}" class="dropdown-item" id="3">10.000 m hlaup</a></li>
                  <li><a v-bind:class="{active: (event_id===12)}" class="dropdown-item" id="12">10 km götuhlaup
                      (flögutímar)</a></li>
                  <li><a v-bind:class="{active: (event_id===13)}" class="dropdown-item" id="13">10 km götuhlaup</a></li>
                  <li><a v-bind:class="{active: (event_id===57)}" class="dropdown-item" id="57">5000 m hlaup</a></li>
                  <li><a v-bind:class="{active: (event_id===122)}" class="dropdown-item" id="122">Hálft maraþon</a></li>
                  <li><a v-bind:class="{active: (event_id===123)}" class="dropdown-item" id="123">Hálft maraþon
                      (flögutímar)</a></li>
                  <li><a v-bind:class="{active: (event_id===166)}" class="dropdown-item" id="166">Maraþon</a></li>
                  <li><a v-bind:class="{active: (event_id===167)}" class="dropdown-item" id="167">Maraþon
                      (flögutímar)</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Þrautagreinar</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" id="1001">Fimmtarþraut</a></li>
                  <li><a class="dropdown-item" id="1002">Fimmtarþr. unglingastig</a></li>
                  <li><a class="dropdown-item" id="1003">Fimmtarþraut (76 cm gr.)</a></li>
                  <li><a class="dropdown-item" id="1004">Fimmtarþraut pilta 15 ára</a></li>
                  <li><a class="dropdown-item" id="1011">Sjöþraut</a></li>
                  <li><a class="dropdown-item" id="1012">Sjöþraut (6 kg kúla)</a></li>
                  <li><a class="dropdown-item" id="1013">Sjöþraut (5 kg kúla)</a></li>
                  <li><a class="dropdown-item" id="1014">Sjöþraut meyjaáhöld</a></li>
                  <li><a class="dropdown-item" id="1021">Tugþraut</a></li>
                  <li><a class="dropdown-item" id="1022">Tugþraut 16-17 ára</a></li>
                  <li><a class="dropdown-item" id="1023">Tugþraut U20 (Norðurlönd)</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <!--  Outdoor = 0, Indoor = 1
                          Women = 2, Men = 1 -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#outorindoors" role="button"
              aria-haspopup="true" aria-expanded="false">{{outinsexText}}</a>
            <div class="dropdown-menu" id="outorindoorsDropdown">
              <a v-on:click="outinsex_change($event, 1, 2)" class="dropdown-item" id="0">Konur (Innanhús)</a>
              <a v-on:click="outinsex_change($event, 1, 1)" class="dropdown-item" id="0">Karlar (Innanhús)</a>
              <div class="dropdown-divider" id="outinDivider"></div>
              <a v-on:click="outinsex_change($event, 0, 2)" class="dropdown-item" id="1">Konur (Utanhús)</a>
              <a v-on:click="outinsex_change($event, 0, 1)" class="dropdown-item" id="1">Karlar (Utanhús)</a>
            </div>
          </li>
          <!---->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#activeyear" role="button"
              aria-haspopup="true" aria-expanded="false">{{yearText}}</a>
            <div v-on:click="year_change($event)" class="dropdown-menu dropdown-menu-long" id="activeyearDropdown">
              <a v-bind:class="{active: year===0}" class="dropdown-item" id="0">Öll ár</a>
              <a v-bind:class="{active: year===i}" v-for="i in year_list" class="dropdown-item" :id="i">{{i}}</a>
            </div>
          </li>
          <!---->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#age" role="button" aria-haspopup="true"
              aria-expanded="false">{{ageText}}</a>
            <div v-on:click="age_change($event)" class="dropdown-menu" id="ageDropdown">
              <a class="dropdown-item" id="00-99">Allir aldursflokkar</a>
              <a class="dropdown-item" id="20-22">20-22 ára</a>
              <a class="dropdown-item" id="18-19">18-19 ára</a>
              <a class="dropdown-item" id="16-17">16-17 ára</a>
              <a class="dropdown-item" id="15-15">15 ára</a>
              <a class="dropdown-item" id="14-14">14 ára</a>
              <a class="dropdown-item" id="13-13">13 ára</a>
              <a class="dropdown-item" id="12-12">12 ára</a>
            </div>
          </li>
          <!---->
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-12 mb-3 text-center">
            <div class="custom-control custom-switch">
              <input v-on:click="toggle_bestbyath($event)" type="checkbox" class="custom-control-input"
                id="customSwitch2" checked>
              <label class="custom-control-label" for="customSwitch2">Birta bara besta afrek íþróttamanns</label>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mb-3 text-center">
            <div class="custom-control custom-switch">
              <input v-on:click="toggle_legalresults($event)" type="checkbox" class="custom-control-input"
                id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1">Birta ólöglegan árangur</label>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 mb-3 text-center">
            <div class="custom-control custom-switch">
              <input v-on:click="toggle_isl($event)" type="checkbox" class="custom-control-input" id="customSwitch3">
              <label class="custom-control-label" for="customSwitch3">Birta öll þjóðerni</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="datatab" role="tabpanel" aria-labelledby="data-tab">
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <table class="table table-striped table-responsive-sm">
          <thead>
            <tr>
              <th class="d-none d-sm-table-cell" scope="col">#</th>
              <th scope="col">Árangur</th>
              <th v-bind:class="{'d-none': !hasWind}" scope="col">Vindur</th>
              <th scope="col">Nafn</th>
              <th class="d-none d-sm-table-cell" scope="col">Aldur</th>
              <th class="d-none d-sm-table-cell" scope="col">Félag</th>
              <th class="d-none d-xl-table-cell" scope="col">Mót</th>
              <th class="d-none d-md-table-cell" scope="col">Dags.</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(competitor, index) in data">
              <th class="d-none d-sm-table-cell" scope="row">{{index+1}}</th>
              <td>{{competitor.results}}</td>
              <td v-bind:class="{'d-none': !hasWind}">{{competitor.wind}}</td>
              <td><a v-bind:href="'/keppandi/' + competitor.competitor_code">{{competitor.name}}</a></td>
              <td class="d-none d-sm-table-cell">{{competitor.age}}</td>
              <td class="d-none d-sm-table-cell">{{competitor.club}}</td>
              <td class="d-none d-xl-table-cell"><a
                  v-bind:href="'http://mot.fri.is/MotFRI/SelectedCompetitionResults.aspx?Code=' + competitor.competition_id">{{competitor.competition_name}}</a>
              </td>
              <td class="d-none d-md-table-cell">{{competitor.date}}</td>
            </tr>
          </tbody>
        </table>
        <pulse-loader :loading="loading" :color="color" :size="size"></pulse-loader>
        <p align="center">{{message}}</p>
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
      </div>
    </div>
  </div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src='{% static "vue-spinner.js" %}'></script>
<style>
  .dropdown-menu-long {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }

  .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }
</style>

{% verbatim %}
<script>
  var PulseLoader = VueSpinner.PulseLoader // https://github.com/greyby/vue-spinner
  new Vue({
    el: '#app',
    components: {
      PulseLoader
    },
    data() {
      return {
        color: '#0275d8',
        size: '15px',
        margin: '2px',
        radius: '100%',
        loading: false,

        data: null,
        event: null,
        message: '',

        isBestByAthActive: true,
        isLegalActive: true,
        isISLActive: true,
        //hasWind: false,

        outinsexText: 'Konur (Innanhús)',
        eventText: 'Langstökk',
        //yearText: '',
        ageText: 'Allir aldursflokkar',

        event_id: 154, // Event_id
        outin: 1, // Outdoor = 0, Indoor = 1
        gender: 2, // Women = 2, Men = 1
        year: new Date().getFullYear(), // Year
        year_list: [2020],
        agegroup: '00-99',
        ageStart: 0, // Start age
        ageEnd: 99, // End age
        legal: 1, // Only legal = 1, all = 0
        isl: 0, // Icelandic = 0, Everybody = 1
        bestbyath: 1,
      }
    },
    computed: {
      yearText: function () {
        if (this.year === 0) {
          return 'Öll ár'
        } else {
          return this.year.toString()
        }
      },
      hasWind: function () {
        if (this.outin === '0') {
          // We are outdoor. Does the current selected event have wind?
          if (this.event['HasWind'] === 1) {
            return true
          } else {
            return false
          }
        } else {
          return false // We are indoor, no wind
        }
      },
    },
    mounted() {
      var year_start = 1909
      var year_end = this.year
      this.year_list = []
      while (year_end + 1 > year_start) {
        this.year_list.push(year_end--)
      }

      this.get_data(null)
    },
    // define methods under the `methods` object
    methods: {
      get_data: function (event) {
        this.loading = true
        this.message = 'Næ í gögn ekki stökkva langt 😉'

        this.data = []

        url = '/api/top_list/' + this.event_id + '/' + this.outin + '/' + this.gender + '/' + this.year + '/' + this.ageStart + '/' + this.ageEnd + '/' + this.legal + '/' + this.isl + '/' + this.bestbyath + '/'
        axios
          .all([axios.get(url)]).then(axios.spread((...response) => {
            this.data = response[0]['data']['TopList']

            this.event = response[0]['data']['EventInfo']

            if (this.data.length === 0) {
              this.message = 'Engin gögn fundust fyrir ' + this.eventText + ' ' + this.outinsexText + ' í ' + this.ageText + ' fyrir ' + this.yearText + ' 😟'
            } else {
              this.message = ''
              if (this.year !== 0) {
                this.data = this.cut_year(this.data)
              }
              this.data = this.convert_to_timeformat(this.event['Units'], this.data)
            }
          }))
          .catch((error) => {
            this.message = 'Villa frá vefþjóni (' + error + ') 😭'
          })
          .finally(() => {
            this.loading = false
            })
      },
      cut_year: function (my_data) { //Klippa út árið úr dags. ef eitt ár er valið
        var dataLen = my_data.length
        console.log(dataLen)
        for (i = 0; i < dataLen; i++) {
          split = my_data[i]['date'].split(' ')
          if (split.length === 3) {
            my_data[i]['date'] = split[0] + ' ' + split[1]
          }
        }

        return my_data
      },
      convert_to_timeformat: function (unit, my_data) { // Breyta tíma úr sek í mm:ss,dd eða hh:mm:ss,dd eftir því hvaða grein er valin.
            //0, # No units!
            //'metrar': 1, # Meters
            //'sek.': 2, # ss,dd
            //'mín.': 3, # mm:ss,dd
            //'klst.': 4, # hh:mm:ss,dd
            //'stig': 5, # Points
            //'Ungl.stig': 6 # Points junior
        if ((unit === 3) || (unit === 4)) {
          var dataLen = my_data.length
          for (i = 0; i < dataLen; i++) {
            var f = Number(my_data[i]['results'])
            if (unit === 4) { // This unit has hours
              var h = Math.floor(f / 3600)
              f = f - h * 3600
            } else {
              var h = 0
            }
            var m = Math.floor(f / 60)
            var s = f - m * 60

            if (s < 10) {
              s_str = '0' + s.toFixed(2)
            } else {
              s_str = s.toFixed(2)
            }

            if (m < 10) {
              m_str = '0' + m.toFixed(0)
            } else {
              m_str = m.toFixed(0)
            }

            if (h < 10) {
              h_str = '0' + h.toFixed(0)
            } else {
              h_str = h.toFixed(0)
            }

            if (unit === 3) {
              my_data[i]['results'] = m_str + ':' + s_str
            } else {
              my_data[i]['results'] = h_str + ':' + m_str + ':' + s_str
            }
          }
        }

        return my_data
      },
      test: function (event) {
        alert(event.target.id)
        console.log('Hi')
      },
      outinsex_change: function (event, outin, gender) {
        this.outin = outin
        this.gender = gender
        this.outinsexText = event.target.textContent

        this.get_data(event)
      },
      toggle_outin: function (event) {
        this.outin = event.target.id
        this.outorinText = event.target.textContent

        this.get_data(event)
      },
      toggle_legalresults: function (event) {
        this.isLegalActive = !this.isLegalActive
        if (this.isLegalActive === true) {
          this.legal = 1
        } else {
          this.legal = 0
        }
        this.get_data(event)
      },
      toggle_isl: function (event, isl) {
        this.isISLActive = !this.isISLActive
        if (this.isISLActive === true) {
          this.isl = 0
        } else {
          this.isl = 1
        }
        this.get_data(event)
      },
      toggle_bestbyath: function (event) {
        this.isBestByAthActive = !this.isBestByAthActive
        if (this.isBestByAthActive === true) {
          this.bestbyath = 1
        } else {
          this.bestbyath = 0
        }
        this.get_data(event)
      },
      year_change: function (event) {
        this.year = Number(event.target.id)
        //this.yearText = event.target.textContent
        this.get_data(event)
      },
      age_change: function (event) {
        this.agegroup = event.target.id
        const split = this.agegroup.split('-')
        if (split.length === 2) {

          this.ageStart = split[0]
          this.ageEnd = split[1]
          this.ageText = event.target.textContent
          this.get_data(event)

        }
      },
      event_change: function (event) {
        this.event_id = Number(event.target.id)
        this.eventText = event.target.textContent
        this.get_data(event)
      }
    }
  })
</script>
<script>
  $('.dropdown-menu a.dropdown-toggle').on('click', function (e) {
    if (!$(this).next().hasClass('show')) {
      $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
    }
    var $subMenu = $(this).next(".dropdown-menu");
    $subMenu.toggleClass('show');


    $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
      $('.dropdown-submenu .show').removeClass("show");
    });


    return false;
  });
</script>
{% endverbatim %}
{% endblock %}