{% extends "base.html" %}
{% load static %}

{% block title %}Sif - Afrekaskrá FRÍ{% endblock %}
{% block content %}
{% verbatim %}
<div class="form-row mb-5 align-items-center">
  <div class="col-md-4 col-lg-3 mb-3">
    <label for="event">Grein</label>
    <select class="form-control" id="event">
      <option>100 m</option>
      <option>Langstökk</option>
    </select>
  </div>
  <div class="col-md-4 col-lg-3 mb-3">
    <label for="year">Ár</label>
    <select class="form-control" id="year" @change="year_change($event)" v-model="year">
      <option>2020</option>
      <option>2019</option>
      <option>2018</option>
      <option>2017</option>
      <option>2016</option>
    </select>
  </div>
  <div class="col-md-4 col-lg-3 mb-3">
    <label for="agegroup">Aldursflokkur</label>
    <select class="form-control" id="agegroup" @change="age_change($event)" v-model="agegroup">
      <option value="0" data-start="0" data-end="99">Allir aldursflokkur</option>
      <option data-start="20" data-end="22">20-22 ára</option>
      <option data-start="18" data-end="19">18-19 ára</option>
      <option data-start="16" data-end="17">16-17 ára</option>
      <option data-start="15" data-end="15">15 ára</option>
      <option data-start="14" data-end="14">14 ára</option>
      <option data-start="13" data-end="13">13 ára</option>
      <option data-start="12" data-end="12">12 ára</option>
    </select>
  </div>
  <div class="col-md-4 col-lg-3 mb-3">
    <div class="btn-group">
      <button v-on:click="toggle_women" class="btn btn-primary btn-sm btn-active" type="radio">Konur</button>
      <button v-on:click="toggle_men" class="btn btn-secondary btn-sm" type="radio">Karlar</button>
    </div>
  </div>
  <div class="col-md-4 col-lg-3 mb-3">
    <div class="btn-group">
      <button class="btn btn-primary btn-sm">Löglegir árangrar</button>
      <button class="btn btn-secondary btn-sm">Allir árangrar</button>
    </div>
  </div>
  <div class="col-md-4 col-lg-3 mb-3">
    <div class="btn-group">
      <button v-on:click="toggle_indoor" class="btn btn-secondary btn-sm">Innanhús</button>
      <button v-on:click="toggle_outdoor" class="btn btn-primary btn-sm">Utanhús</button>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 mb-3">
    <div class="btn-group">
      <button class="btn btn-secondary btn-sm">Besta frá íþróttamanni</button>
      <button class="btn btn-primary btn-sm">Öll afrek íþróttamanns</button>
    </div>
  </div>
  <div class="col-md-4 col-lg-4 mb-3">
    <div class="btn-group">
      <button class="btn btn-secondary btn-sm">Íslendingar</button>
      <button class="btn btn-primary btn-sm">Öll þjóðerni</button>
    </div>
  </div>
</div>
<table class="table table-striped table-responsive-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Árangur</th>
      <th scope="col">Vindur</th>
      <th scope="col">Nafn</th>
      <th scope="col">Aldur</th>
      <th scope="col">Félag</th>
      <th scope="col">Mót</th>
      <th scope="col">Dags.</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="(competitor, index) in data">
      <th scope="row">{{index+1}}</th>
      <td>{{competitor.results}}</td>
      <td>{{competitor.wind}}</td>
      <td><a v-bind:href="'/keppandi/' + competitor.competitorcode">{{competitor.name}}</a></td>
      <td>{{competitor.age}}</td>
      <td>{{competitor.club}}</td>
      <td>{{competitor.competition}}</td>
      <td>{{competitor.date}}</td>
    </tr>
  </tbody>
</table>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% verbatim %}
<script>
  new Vue({
    el: '#app',
    data() {
      return {
        data: null,
        event_id: 6, // Event_id
        outin: 0, // Outdoor = 0, Indoor = 1
        gender: 2, // Women = 2, Men = 1
        year: 2019, // Year
        agegroup: 0,
        agestart: 0, // Start age
        ageend: 99 // End age
      }
    },
    mounted() {
      this.get_data()
    },
      // define methods under the `methods` object
  methods: {
    get_data: function (event) {
      axios
        .get('/api/top_list/' + this.event_id + '/' + this.outin + '/' + this.gender + '/' + this.year + '/' + this.agestart + '/' + this.ageend + '/')
        .then(response => (this.data = response['data']))
    },
    toggle_women: function (event) {
      this.gender = 2
      this.get_data(event)
    },
    toggle_men: function (event) {
      this.gender = 1
      this.get_data(event)
    },
    toggle_indoor: function (event) {
      this.outin = 1
      this.get_data(event)
    },
    toggle_outdoor: function (event) {
      this.outin = 0
      this.get_data(event)
    },
    year_change(event) {
            this.year = event.target.value
            this.get_data(event)
        },
    age_change(event) {
      if (event.target.options.selectedIndex > -1) {
            const theTarget = event.target.options[event.target.options.selectedIndex].dataset;
            this.agestart = theTarget.start
            this.ageend = theTarget.end
            this.get_data(event)
          }
        }
  }
  })
</script>
{% endverbatim %}
{% endblock %}