{% extends "base.html" %}
{% load static %}

{% block title %}Sif - Afrekaskrá FRÍ{% endblock %}
{% block content %}
{% verbatim %}
<div class="card ">
  <div class="card-header">
    <ul class="nav nav-pills nav-fill card-header-tabs pull-right" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="women-tab" data-toggle="tab" href="#women" role="tab" aria-controls="women"
          aria-selected="true">Konur</a>
      </li>
      <!---->
      <li class="nav-item">
        <a class="nav-link" id="men-tab" data-toggle="tab" href="#men" role="tab" aria-controls="men"
          aria-selected="false">Karlar</a>
      </li>
      <!---->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#outorindoors" role="button"
          aria-haspopup="true" aria-expanded="false">{{outorinText}}</a>
        <div v-on:click="toggle_outin($event)" class="dropdown-menu" id="outorindoorsDropdown">
          <a class="dropdown-item" id="0">Úti</a>
          <a class="dropdown-item" id="1">Inni</a>
        </div>
      </li>
      <!---->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#event" role="button" aria-haspopup="true"
          aria-expanded="false">{{eventText}}</a>
        <div v-on:click="event_change($event)" class="dropdown-menu" id="eventDropdown">
          <a class="dropdown-item" id="6">100m</a>
          <a class="dropdown-item" id="154">Langstökk</a>
        </div>
      </li>
      <!---->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#activeyear" role="button" aria-haspopup="true"
          aria-expanded="false">{{yearText}}</a>
        <div v-on:click="year_change($event)" class="dropdown-menu" id="activeyearDropdown">
          <a class="dropdown-item" id="0">Öll ár</a>
{% endverbatim %}
          {% for year in YEARS %}
          <a class="dropdown-item" id="{{ year }}">{{ year }}</a>
          {% endfor %}
{% verbatim %}
        </div>
      </li>
      <!---->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#age" role="button" aria-haspopup="true"
          aria-expanded="false">{{ageText}}</a>
        <div v-on:click="age_change($event)" class="dropdown-menu" id="ageDropdown">
          <a class="dropdown-item" id="00-99">Allir aldursflokkar</a>
          <a class="dropdown-item" id="20-22">20-22 ára</a>
          <a class="dropdown-item" id="18-19">18-19 ára</a>
          <a class="dropdown-item" id="16-17">16-17 ára</a>
          <a class="dropdown-item" id="15-15">15 ára</a>
          <a class="dropdown-item" id="14-14">14 ára</a>
          <a class="dropdown-item" id="13-13">13 ára</a>
          <a class="dropdown-item" id="12-12">12 ára</a>
        </div>
      </li>
      <!---->
    </ul>
  </div>

  <div class="card-body">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="women" role="tabpanel" aria-labelledby="women-tab">
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-12">
            <div class="custom-control custom-switch">
              <input v-on:click="toggle_bestbyath($event)" type="checkbox" class="custom-control-input"
                id="customSwitch2" checked>
              <label class="custom-control-label" for="customSwitch2">Birta bara besta afrek íþróttamanns</label>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="custom-control custom-switch">
              <input v-on:click="toggle_legalresults($event)" type="checkbox" class="custom-control-input"
                id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1">Birta ólöglegan árangur</label>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="custom-control custom-switch">
              <input v-on:click="toggle_isl($event)" type="checkbox" class="custom-control-input" id="customSwitch3">
              <label class="custom-control-label" for="customSwitch3">Birta öll þjóðerni</label>
            </div>
          </div>
        </div>
        <table class="table table-striped table-responsive-sm">
          <thead>
            <tr>
              <th class="d-none d-sm-table-cell" scope="col">#</th>
              <th scope="col">Árangur</th>
              <th v-bind:class="{'d-none': !hasWind}" scope="col">Vindur</th>
              <th scope="col">Nafn</th>
              <th class="d-none d-sm-table-cell" scope="col">Aldur</th>
              <th class="d-none d-sm-table-cell" scope="col">Félag</th>
              <th class="d-none d-xl-table-cell" scope="col">Mót</th>
              <th class="d-none d-md-table-cell" scope="col">Dags.</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(competitor, index) in women_data">
              <th class="d-none d-sm-table-cell" scope="row">{{index+1}}</th>
              <td>{{competitor.results}}</td>
              <td v-bind:class="{'d-none': !hasWind}">{{competitor.wind}}</td>
              <td><a v-bind:href="'/keppandi/' + competitor.competitorcode">{{competitor.name}}</a></td>
              <td class="d-none d-sm-table-cell">{{competitor.age}}</td>
              <td class="d-none d-sm-table-cell">{{competitor.club}}</td>
              <td class="d-none d-xl-table-cell"><a
                  v-bind:href="'http://mot.fri.is/MotFRI/SelectedCompetitionResults.aspx?Code=' + competitor.competition_id">{{competitor.competition_name}}</a>
              </td>
              <td class="d-none d-md-table-cell">{{competitor.date}}</td>
            </tr>
          </tbody>
        </table>
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
      </div>
      <div class="tab-pane fade" id="men" role="tabpanel" aria-labelledby="men-tab">
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-12">
            <div class="custom-control custom-switch">
              <input v-on:click="toggle_bestbyath($event)" type="checkbox" class="custom-control-input"
                id="customSwitch2" checked>
              <label class="custom-control-label" for="customSwitch2">Birta bara besta afrek íþróttamanns</label>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="custom-control custom-switch">
              <input v-on:click="toggle_legalresults($event)" type="checkbox" class="custom-control-input"
                id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1">Birta ólöglegan árangur</label>
            </div>
          </div>
          <div class="col-md-4 col-sm-12">
            <div class="custom-control custom-switch">
              <input v-on:click="toggle_isl($event)" type="checkbox" class="custom-control-input" id="customSwitch3">
              <label class="custom-control-label" for="customSwitch3">Birta öll þjóðerni</label>
            </div>
          </div>
        </div>
        <table class="table table-striped table-responsive-sm">
          <thead>
            <tr>
              <th class="d-none d-sm-table-cell" scope="col">#</th>
              <th scope="col">Árangur</th>
              <th v-bind:class="{'d-none': !hasWind}" scope="col">Vindur</th>
              <th scope="col">Nafn</th>
              <th class="d-none d-sm-table-cell" scope="col">Aldur</th>
              <th class="d-none d-sm-table-cell" scope="col">Félag</th>
              <th class="d-none d-xl-table-cell" scope="col">Mót</th>
              <th class="d-none d-md-table-cell" scope="col">Dags.</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(competitor, index) in men_data">
              <th class="d-none d-sm-table-cell" scope="row">{{index+1}}</th>
              <td>{{competitor.results}}</td>
              <td v-bind:class="{'d-none': !hasWind}">{{competitor.wind}}</td>
              <td><a v-bind:href="'/keppandi/' + competitor.competitorcode">{{competitor.name}}</a></td>
              <td class="d-none d-sm-table-cell">{{competitor.age}}</td>
              <td class="d-none d-sm-table-cell">{{competitor.club}}</td>
              <td class="d-none d-xl-table-cell"><a
                  v-bind:href="'http://mot.fri.is/MotFRI/SelectedCompetitionResults.aspx?Code=' + competitor.competition_id">{{competitor.competition_name}}</a>
              </td>
              <td class="d-none d-md-table-cell">{{competitor.date}}</td>
            </tr>
          </tbody>
        </table>
        <!-- ------------------------------------------------------------------------------------------------------------------------------------------------- -->
      </div>
    </div>
  </div>
</div>
{% endverbatim %}
{% endblock %}

{% block scripts %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
  .dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
</style>

{% verbatim %}
<script>
  new Vue({
    el: '#app',
    data() {
      return {
        women_data: null,
        men_data: null,

        isBestByAthActive: true,
        isLegalActive: true,
        isISLActive: true,
        hasWind: false,

        outorinText: 'Inni',
        eventText: 'Langstökk',
        //yearText: '',
        ageText: 'Allir aldursflokkar',

        event_id: 154, // Event_id
        outin: 1, // Outdoor = 0, Indoor = 1
        gender: 2, // Women = 2, Men = 1
        gender_women: 2,
        gender_men: 1,
        year: new Date().getFullYear(), // Year
        agegroup: '00-99',
        ageStart: 0, // Start age
        ageEnd: 99, // End age
        legal: 1, // Only legal = 1, all = 0
        isl: 0,
        bestbyath: 1,
        busy: false // Icelandic = 0, Everybody = 1
      }
    },
    computed: {
    yearText: function () {
      if (this.year === '0') {
        return 'Öll ár'
      } else {
        return this.year.toString()
      }
    }
  },
    mounted() {
      this.get_data()
    },
    // define methods under the `methods` object
    methods: {
      get_data: function (event) {
        this.busy = true

        this.women_data = []
        this.men_data = []

        women_url = '/api/top_list/' + this.event_id + '/' + this.outin + '/' + this.gender_women + '/' + this.year + '/' + this.ageStart + '/' + this.ageEnd + '/' + this.legal + '/' + this.isl + '/' + this.bestbyath + '/'
        men_url = '/api/top_list/' + this.event_id + '/' + this.outin + '/' + this.gender_men + '/' + this.year + '/' + this.ageStart + '/' + this.ageEnd + '/' + this.legal + '/' + this.isl + '/' + this.bestbyath + '/'

        axios
          .all([axios.get(women_url), axios.get(men_url)]).then(axios.spread((...response) => {
            this.women_data = response[0]['data']
            this.men_data = response[1]['data']

            this.busy = false
          }))
      },
      test: function (event) {
        alert(event.target.id)
        console.log('Hi')
      },
      toggle_gender: function (event, gender) {
        this.gender = gender
        this.isWomenActive = !this.isWomenActive
        this.get_data(event)
      },
      toggle_outin: function (event) {
        this.outin = event.target.id
        this.outorinText = event.target.textContent

        if (this.outin === 0) {
          this.hasWind = true
        } else {
          this.hasWind = false
        }
        this.get_data(event)
      },
      toggle_legalresults: function (event) {
        this.isLegalActive = !this.isLegalActive
        if (this.isLegalActive === true) {
          this.legal = 1
        } else {
          this.legal = 0
        }
        this.get_data(event)
      },
      toggle_isl: function (event, isl) {
        this.isISLActive = !this.isISLActive
        if (this.isISLActive === true) {
          this.isl = 0
        } else {
          this.isl = 1
        }
        this.get_data(event)
      },
      toggle_bestbyath: function (event) {
        this.isBestByAthActive = !this.isBestByAthActive
        if (this.isBestByAthActive === true) {
          this.bestbyath = 1
        } else {
          this.bestbyath = 0
        }
        this.get_data(event)
      },
      year_change: function (event) {
        this.year = event.target.id
        //this.yearText = event.target.textContent
        this.get_data(event)
      },
      age_change: function (event) {
        this.agegroup = event.target.id
        this.ageText = event.target.textContent
        const split = this.agegroup.split('-')
        if (split.length === 2) {
          this.ageStart = split[0]
          this.ageEnd = split[1]
        }
        this.get_data(event)
      },
      event_change: function (event) {
        this.event_id = event.target.id
        this.eventText = event.target.textContent
        this.get_data(event)
      }
    }
  })
</script>
{% endverbatim %}
{% endblock %}